body {
    background: #000000;
    font-family: 'Inconsolata', sans-serif;
    color: #ffffff;
    padding-top: 6em;
  }
  
  .container  {
    max-width: 760px;
  }
  
  .intro  {
  padding: 2em 0 1em 0;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  }
  
  .profile {
  padding-bottom: 1em;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 34px;
  }
  
  a.github
  {
  color: #6455ee;
  }

  a.tr
  {
  color: #ce8106;
  }

  a.wsu
  {
  color: #a73a3a;
  }

  b.terminal {
    animation: terminalPrompt;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }

@keyframes terminalPrompt {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

  
  
  